*,
*::before,
*::after {
    box-sizing: border-box;
}

:root{
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;

    --fw-reg: 500;
    --fw-bold: 1000;

    --clr-light: rgb(255, 255, 255);
    --clr-dark: #303030;
    --clr-accent: #d6beeb;
    --clr-accent1: #422758;
    
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-secondary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

section {
    padding: 4em 2em;
}
header {
    padding: 1em 1em;
}

img{
    display: block;
    max-width: 30%;

}


:focus{
    outline: 3px solid var(--clr-accent1);
    outline-offset: 3px;
}

.btn{
    display: inline-block;
    padding: .7em 2em;
    background: var(--clr-accent1);
    color: var(--clr-accent);
    text-decoration: none;
    cursor: pointer;
    transition: transform 200ms ease-in-out;
    border-radius: 15px;
}
.btn:hover{
    transform: scale(1.1);
}





/*------typography------*/

h1,
h2,
h3 {
    line-height: 1.1;
    margin: 0;
}

h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }


.discription, .introDiscription{
    font-weight: var(--fw-reg);
    margin-top: .5em
}
.whatIDo{
    background: var(--clr-accent);
    font-family: var(--ff-secondary);
}






/*------layout------*/
.about-discriptions{
    background: var(--clr-accent);
    font-family: var(--ff-secondary);
    font-weight: var(--fw-reg);
}
.intro .aboutMe{
    position: relative;
}
@media (min-width: 100px) {
    .intro, .aboutMe{
        display: grid;
        margin: 0 auto;
        grid-column-gap: 1em;
        align-self: start;
        
    }
    .profilePic{
        grid-area: img;
        min-width: 300px;
        display: grid;
        width: min-content;
        margin: 0 auto;
    }
    .about-profilePic{
        grid-area: img;
        min-width: 300px;
        display: grid;
        margin: 0 auto;
    }
}






/*-----navbar-----*/
.nav-link{
    text-decoration: none;
}

@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500|PT+Sans+Narrow:400,700|Play:400,700|Ubuntu+Condensed&display=swap&subset=cyrillic');


* {
margin: 0;
padding: 0;
box-sizing: border-box;
}



nav {
height: 100%;
font-family: var(--ff-secondary);
font-weight: var(--fw-bold);

}

.container {
display: flex;
flex-direction: column;
height: 100%;
width: 100%;
min-width: 480px;
padding: 0 40px;
}

.breadcrumb {
display: flex;
border-radius: 15px;
margin: auto;
text-align: center;
top: 50%;
width: 100%;
height: 40px;
transform: translateY(-50%);
z-index: 1;
justify-content: center;
}


.breadcrumb__item {
height: 100%;
background-color: var(--clr-accent);
color: var(--clr-accent1);
border-radius: 15px;
letter-spacing: 1px;
transition: all 0.3s ease;
position: relative;
display: inline-flex;
justify-content: center;
align-items: center;
font-size: 20px;
box-shadow: 0 2px 5px rgba(0,0,0,0.26);
margin: 20px;
padding: 0 50px;
cursor: pointer;
}


.breadcrumb__item:hover {
transform: scale(1.1);
}


.breadcrumb__inner {
display: flex;
flex-direction: column;
margin: auto;
z-index: 2;
}

.breadcrumb__title {
font-size: 23px;
text-overflow: ellipsis;  
overflow: hidden;
white-space: nowrap;
font-weight: bold;

}


@media all and (max-width: 1000px) {
.breadcrumb {
height: 35px;
}

.breadcrumb__title{
font-size: 11px;
}
.breadcrumb__item {
padding: 0 30px;
}
}

@media all and (max-width: 710px) {
.breadcrumb {
height: 30px;
}
.breadcrumb__item {
padding: 0 20px;
}

}






/*------intro text------*/
@media (min-width: 1500px) {
    .intro-desc{
        padding-left: 20em;
        padding-right: 20em;
        
    }
}







/*------What i do section------*/
.whatIDo{
    color: var(--clr-dark);
    text-align: center;
}

.whatIDo-sectionTitle{
    position: center;
}
.whatIDo-sectionTitle::after{
    content: '';
    display: block;
    width: 4em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-accent1);
}
@media (min-width: 1000px) {
    .knowledgeBaseCat{
        display: flex;
        max-width: 1500px;
        margin: 0 auto;
    }
    .knowledgeBase + .knowledgeBase{
        margin-left: 2em;
    }
}
@media (max-width: 1000px) {
    .knowledgeBase{
        margin-top: 2em;
    }
}
.btn-des{
    margin-top: 2em;
}







/*------freelancer-----*/
@media (min-width: 1500px) {
    .myServices{
        padding-left: 21.5em;
        padding-right: 21.5em;
        
    }
}
.contact-btn{
    margin-top: 1.5em;
}
.free-discription{
    margin-top: 1em;
}







/*-----about------*/
.about-profilePic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}
.about-sectionTitle{
    text-align: center;
}
.about-sectionTitle::after{
    content: '';
    display: block;
    width: 4em;
    height: 1px;
    margin: 0.3em auto 1em;
    background: var(--clr-accent1);
}
.about-profilePic{
    align-items: center;
    
}
@media (min-width: 1700px){
    .about-description{
        padding-left: 22em;
        padding-right: 22em;
        padding-top: 1em;
        padding-bottom: 3em;
    }
    .about-discriptions{
        padding-top: 4em;
        padding-bottom: 4em;
    }
    .about-description-title{
        padding-left: 16em;
        padding-right: 16em;
    }
}
@media (max-width: 1700px){
    .about-description{
        padding-left: 1em;
        padding-right: 1em;
        padding-top: 1em;
        padding-bottom: 1em;
    }
    .about-discriptions{
        padding-left: 1em;
        padding-right: 1em;
        padding-top: 1em;
        padding-bottom: 1em;
    }
}
/*.about-discription::after{
    content: '';
    display: block;
    width: 15em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-accent1);
}
*/





/*-----Projects-----*/
.project-headers{
    padding-top: 1.5em;
    text-align: center;
}
    /*----Project Pages----*/

    .project-pages{
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-secondary);
    font-size: var(--fs-body);
    line-height: 1.6;
    }
    .project-title{
        text-align: center;
        padding-bottom: 1em;
    }
    .projectImg{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    .project-title::after{
        content: '';
        display: block;
        width: 4em;
        height: 1px;
        margin: 0.3em auto 1em;
        background: var(--clr-accent1);
    }

    .project-description{
        padding-top: 1em;
        padding-bottom: 1em;
    }
    .projectFooter::before{
        content: '';
        display: block;
        width: 20em;
        height: 1px;
        margin: 0.3em auto 1em;
        background: var(--clr-accent1);
    }
    .projectFooter{
        padding-top: 10em;
        text-align: center;
        font-size: 14px;
        font-style: italic;
    }
    
    @media (min-width: 1800px) {
        .project-description{
        margin-left: 22em;
        margin-right: 22em;
        }

    }
    @media (max-width: 1800px){
        .project-description{
            margin-left: 5em;
            margin-right: 5em;
            }
    }
    @media (max-width: 800px){
        .project-description{
            margin-left: 1em;
            margin-right: 1em;
            }
    }







/*-----Contact-----*/
.contactDescription{
    background-color: white;
    color: black;
    margin: 0;
    font-weight: 500;
    font-family: var(--ff-primary);
    font-size: 1.25em;
    text-align: center;

}

@media (min-width:1000px) {
    .contactDescription{
    padding-left: 10em;
    padding-right: 10em;
    }
}
.contactPage-sectionTitle{
    text-align: center;
}
.img-contact{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap");
* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.Ccontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 12000px;
  margin: 40px 0;
}

.Ccontainer .card {
  position: relative;
  min-width: 320px;
  height: 440px;
  border-radius: 15px;
  margin: 30px;
  transition: 0.5s;
}

/*boxes*/ /*
.container .card:nth-child(1) .box .content a {
  background:;
}

body .container .card:nth-child(2) .box .content a {
  background:;
}

body .container .card:nth-child(3) .box .content a {
  background:;
}

body .container .card:nth-child(4) .box .content a {
  background:;
}
*/


/*card background color*/
.Ccontainer .card .box{
  position: absolute;
  top: 100px;
  left: 60px;
  right: 60px;
  bottom: 100px;
  background: var(--clr-accent);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s;
}

.Ccontainer .card .box:hover {
  transform: translateY(-50px);
}


/*the box color effect with the line in the middle*/
.Ccontainer .card .box:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: var(--clr-accent1);
}

.Ccontainer .card .box .content{
  padding: 20px;
  text-align: center;
}

.Ccontainer .card .box .content h2{
  position: absolute;
  top: -10px;
  right: 30px;
  font-size: 8rem;
  color: rgba(255, 255, 255, 0.1);
}

/*.Ccontainer .card .box .content h3 {
  font-size: 1.8rem;
  color: #fff;
  z-index: 1;
  transition: 0.5s;
  margin-bottom: 15px;
}

.Ccontainer .card .box .content p {
  font-size: 1rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.9);
  z-index: 1;
  transition: 0.5s;
}
*/

.Ccontainer .card .box .content a {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  background: #422758;
  border-radius: 5px;
  text-decoration: none;
  color: #d4b6ec;
  margin-top: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}
.Ccontainer .card .box .content a:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
  background: #fff;
  color: #000;
}
