*,
*::before,
*::after {
    box-sizing: border-box;
}

:root{
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;

    --fw-reg: 500;
    --fw-bold: 1000;

    --clr-light: rgb(255, 255, 255);
    --clr-dark: #303030;
    --clr-accent: #d6beeb;
    --clr-accent1: #422758;
    
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-secondary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

section {
    padding: 4em 2em;
}
header {
    padding: 1em 1em;
}

img{
    display: block;
    max-width: 30%;

}


:focus{
    outline: 3px solid var(--clr-accent1);
    outline-offset: 3px;
}

.btn{
    display: inline-block;
    padding: .7em 2em;
    background: var(--clr-accent1);
    color: var(--clr-accent);
    text-decoration: none;
    cursor: pointer;
    transition: transform 200ms ease-in-out;
    border-radius: 15px;
}
.btn:hover{
    transform: scale(1.1);
}





/*------typography------*/

h1,
h2,
h3 {
    line-height: 1.1;
    margin: 0;
}

h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }


.discription, .introDiscription{
    font-weight: var(--fw-reg);
}
.whatIDo{
    background: var(--clr-accent);
    font-family: var(--ff-secondary);
}






/*------layout------*/
.about-discriptions{
    background: var(--clr-accent);
    font-family: var(--ff-secondary);
    margin-bottom: 3em;
    font-weight: var(--fw-reg);
}
.intro .aboutMe{
    position: relative;
}
@media (min-width: 100px) {
    .intro, .aboutMe{
        display: grid;
        margin: 0 auto;
        grid-column-gap: 1em;
        align-self: start;
        
    }
    .profilePic{
        grid-area: img;
        min-width: 300px;
        display: grid;
        width: min-content;
        margin: 0 auto;
    }
    .about-profilePic{
        grid-area: img;
        min-width: 300px;
        display: grid;
        margin: 0 auto;
    }
}





/*------intro text------*/
@media (min-width: 900px) {
    .intro-desc{
        padding-left: 6em;
        padding-right: 6em;
        
    }
}







/*------What i do section------*/
.whatIDo{
    color: var(--clr-dark);
    text-align: center;
}

.whatIDo-sectionTitle{
    position: center;
}
.whatIDo-sectionTitle::after{
    content: '';
    display: block;
    width: 4em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-accent1);
}
@media (min-width: 1000px) {
    .knowledgeBaseCat{
        display: flex;
        max-width: 1600px;
        margin: 0 auto;
    }
    .knowledgeBase + .knowledgeBase{
        margin-left: 2em;
    }
}






/*------freelancer-----*/
@media (min-width: 900px) {
    .myServices, .aboutMe{
        padding-left: 8em;
        padding-right: 8em;
        
    }
}






/*-----about------*/
.about-profilePic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}
.about-sectionTitle{
    text-align: center;
}
.about-sectionTitle::after{
    content: '';
    display: block;
    width: 4em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-accent1);
}
.about-profilePic{
    align-items: center;
    
}
@media (min-width: 900px){
    .about-description{
        padding-left: 6em;
        padding-right: 6em;
    }
}
@media (max-width: 900px){
    .about-description{
        padding-left: 1em;
        padding-right: 1em;
    }
}
/*.about-discription::after{
    content: '';
    display: block;
    width: 15em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-accent1);
}
*/





/*-----navbar-----*/
.nav {
    display: flex;
    justify-content: left;
    align-items: top;
    min-height: 100px;
  }






/*-----Projects-----*/







/*-----Content-----*/
.contactDescription{
    font-family: var(--ff-secondary);
    font-size: var(--fs-body);
    line-height: 1.6;
    
}
@media (min-width:1000px) {
    .contactDescription{
    padding-left: 10em;
    padding-right: 10em;
    }
}
.contactPage-sectionTitle{
    text-align: center;
}
.img-contact{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap");
* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 12000px;
  margin: 40px 0;
}

.container .card {
  position: relative;
  min-width: 320px;
  height: 440px;
  border-radius: 15px;
  margin: 30px;
  transition: 0.5s;
}

/*boxes*/ /*
.container .card:nth-child(1) .box .content a {
  background:;
}

body .container .card:nth-child(2) .box .content a {
  background:;
}

body .container .card:nth-child(3) .box .content a {
  background:;
}

body .container .card:nth-child(4) .box .content a {
  background:;
}
*/


/*card background color*/
.container .card .box {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: var(--clr-accent);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s;
}

.container .card .box:hover {
  transform: translateY(-50px);
}


/*the box color effect wioth the line in the middle*/
.container .card .box:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: var(--clr-accent1);
}

.container .card .box .content {
  padding: 20px;
  text-align: center;
}

.container .card .box .content h2{
  position: absolute;
  top: -10px;
  right: 30px;
  font-size: 8rem;
  color: rgba(255, 255, 255, 0.1);
}

/*.container .card .box .content h3 {
  font-size: 1.8rem;
  color: #fff;
  z-index: 1;
  transition: 0.5s;
  margin-bottom: 15px;
}

.container .card .box .content p {
  font-size: 1rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.9);
  z-index: 1;
  transition: 0.5s;
}
*/

.container .card .box .content a {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  background: #422758;
  border-radius: 5px;
  text-decoration: none;
  color: #d4b6ec;
  margin-top: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}
.container .card .box .content a:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
  background: #fff;
  color: #000;
}
