*,
*::before,
*::after {
    box-sizing: border-box;
}

:root{
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;

    --fw-reg: 500;
    --fw-bold: 1000;

    --clr-light: rgb(255, 255, 255);
    --clr-dark: #303030;
    --clr-accent: #d4b6ec;
    --clr-accent1: #422758;
    
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-secondary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

section {
    padding: 4em 2em;
}

img{
    display: block;
    max-width: 30%;

}


:focus{
    outline: 3px solid var(--clr-accent1);
    outline-offset: 3px;
}

.btn{
    display: inline-block;
    padding: .5em 1.5em;
    background: var(--clr-accent1);
    color: var(--clr-accent);
    text-decoration: none;
    cursor: pointer;
    transition: transform 200ms ease-in-out;
}
.btn:hover{
    transform: scale(1.1);
}



/*typography*/

h1,
h2,
h3 {
    line-height: 1.1;
    margin: 0;
}

h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }


.discription, .introDiscription{
    font-weight: var(--fw-reg);
}
.whatIDo{
    background: var(--clr-accent);
    font-family: var(--ff-secondary);
}


/*layout*/
.aboutMe{
    background: var(--clr-accent);
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
}
.intro .aboutMe{
    position: relative;
}
@media (min-width: 100px) {
    .intro, .aboutMe{
        display: grid;
        margin: 0 auto;
        grid-column-gap: 1em;
        align-self: start;
        
    }
    .profilePic{
        grid-area: img;
        min-width: 300px;
        display: grid;
        width: min-content;
        margin: 0 auto;
    }
    .about-profilePic{
        grid-area: img;
        min-width: 300px;
        display: grid;
        margin: 0 auto;
    }
}

/*intro text*/
@media (min-width: 800px) {
    .intro-desc{
        padding-left: 2.5em;
        padding-right: 2,5em;
        
    }
}

/*What i do section*/
.whatIDo{
    color: var(--clr-dark);
    text-align: center;
}

.whatIDo-sectionTitle{
    position: center;
}
.whatIDo-sectionTitle::after{
    content: '';
    display: block;
    width: 4em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: black;
}
@media (min-width: 1000px) {
    .knowledgeBaseCat{
        display: flex;
        max-width: 1600px;
        margin: 0 auto;
    }
    .knowledgeBase + .knowledgeBase{
        margin-left: 2em;
    }
}



/*freelancer*/
@media (min-width: 800px) {
    .myServices, .aboutMe{
        padding-left: 5em;
        padding-right: 5em;
        
    }
}

/*about*/
.about-sectionTitle{
    text-align: center;
}
.about-sectionTitle::after{
    content: '';
    display: block;
    width: 4em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: black;
}
.about-profilePic{
    align-items: center;
    
}
.about-discription::after{
    content: '';
    display: block;
    width: 15em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: black;
}